<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Entanglement</h1>

	<h2>
    I want this page to make something.
	</h2>

	<%= link_to "Change the world! A little! Make something. Make this page make something.", '#', class: "btn btn-large btn-primary" %> 
</div>

<div class="center hero-unit">
<a href="http://www.hugeblob.com/" class="testit">Test it</a><br /><br />
<br />
<ul id="nav">
    <li><a href="#">News</a></li>
    <li><a href="#">Things</a></li>
    <li><a href="#">Stuff</a></li>
    <li><a href="#">Junk</a></li>
    <li><a href="#">About</a></li>
</ul>
<br /><br />
<br />
<br /><br />
<br />

<ul id="footer-logos">
    <li><a href="#"><img src="/assets/rails.png" »
      alt="Rails" /></a>
    </li>
    <li><a href="#"><img src="/assets/rails.png" »
      alt="RSS feed" /></a>
    </li>
    <li><a href="#"><img src="/assets/rails.png" »
      alt="BitMan" /></a>
    </li>
</ul>

<br /><br />
<br />
</div>

<!--
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
-->