<% provide(:title, 'Hey') %>	

	<span class="stuff" id="line1">IN NYC.</span> 
	<span class="stuff light" id="zombie">AFRAID OF ZOMBIES.<br /></span>
	<span class="stuff" id="line3">FAST FOLLOWS,</span>  
	<span class="stuff" id="line4">PIVOTS,</span>  
	<span class="stuff" id="line5">SKETCHY FUTURES.</span>

	<div class="line"></div>

	<span class="stuff small" id="line6"> <strong>ON MY MIND:<br /></strong>
	</span>  
	<span class="stuff small" id="line10">WHAT'S THE ROOM? - <a href="http://www.amazon.com/How-Music-Works-ebook/dp/B0097DM57M/ref=tmm_kin_title_0" target="blank">HOW MUSIC WORKS.</a>
	</span>
	<span class="stuff small" id="line11">SECOND ORDER EFFECTS - <a href="http://www.grantland.com/story/_/id/8719297/how-kobe-bryant-missed-shots-translate-new-nba-statistic-kobe-assist" target="blank">THE KOBE ASSIST.</a>
	<a href="http://www.twitter.com/mikemertens" target="blank">@mikemertens</a>
	</span>
	<br /><br />
	<span class="stuff small" id="line8"> <strong>MORE!<br /></strong>
	</span>
	<span class="stuff small" id="line9">TWEETING ULYSSES <a href="http://www.twitter.com/tweetulysses" target="_blank">@tweetulysses.</a>
	<br />UNDEVELOPED AREAS
	</span>  

	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> 