<% provide(:title, 'Hey') %>	

	<span class="stuff" id="line1">IN NYC.</span> 
	<span class="stuff light" id="zombie">AFRAID OF ZOMBIES.<br /></span>
	<span class="stuff" id="line3">FAST FOLLOWS,</span>  
	<span class="stuff" id="line4">PIVOTS,</span>  
	<span class="stuff" id="line5">SKETCHY FUTURES.</span>

	<div class="line"></div>
	

	<span class="stuff medium" id="line6"> <strong>ON MY MIND:<br /></strong>
	</span>  
	<span class="stuff small" id="line30">{take hold of|grab|clutch|grasp|seize|snatch}: <a href="http://new-aesthetic.tumblr.com/post/48776259151/i-have-ive-been-surfing-browsing-online-more" target="blank">SPAM ALGO.</a>
	</span>
	<span class="stuff small" id="line10">WHITE BEAR: <a href="http://www.deconcrete.org/2013/04/27/techno-fearing-dystopias/" target="blank">I LOVE THIS SHOW.</a>
	</span>
	<span class="stuff small" id="line11">IODUREMETALLIQUE: <a href="http://betaknowledge.tumblr.com/post/48690617967/robot-thieve-this-ioduremetallique-guy-created" target="blank">SWEET CRIME.</a>
	</span>
	<br /><br />
	

	<span class="stuff medium" id="line8"> <strong>MORE!<br /></strong>
	</span>
	<span class="stuff small" id="line9">TWEETS: <a href="http://www.twitter.com/mikemertens" target="blank">@mikemertens</a><br />
	TWEETING ULYSSES: <a href="http://www.twitter.com/tweetulysses" target="_blank">@tweetulysses</a><br />
	<a href="http://www.undevelopedareas.com" target="blank">UNDEVELOPED AREAS</a>
	</span>  
	<br /><br />
	<span class="stuff small" id="line7"><a href="http://www.mikemertens.net/mikemertens">ABOUT MIKE</a>: HAND-CRAFTED PRODUCT STRATEGY, EXPERIENCE DESIGN AND PRODUCT MANAGEMENT.
	</span>

	<br /><br /><br /><br />