<% provide(:title, 'Hey') %>	

	<span class="stuff" id="line1">IN NYC.</span> 
	<span class="stuff light" id="line2">AFRAID OF ZOMBIES.</span> 
	<br>
	<span class="stuff" id="line3">FAST FOLLOWS,</span>  
	<span class="stuff" id="line4">PIVOTS,</span>  
	<span class="stuff" id="line5">SKETCHY FUTURES.</span>

	<div class="footer"></div>

	<span class="stuff small" id="line6"> <strong>ON MY MIND:</strong>
	</span>  
	<span class="stuff small" id="line10">SECOND ORDER EFFECTS - <a href="http://www.grantland.com/story/_/id/8719297/how-kobe-bryant-missed-shots-translate-new-nba-statistic-kobe-assist" target="blank">THE KOBE ASSIST.</a>
	</span>
	<span class="stuff small" id="line11">BLURRING THE LINE - <a href="http://betaknowledge.tumblr.com/post/37178259571/the-flip-flop-n-the-process-of-pushing-a-work" target="blank">THE FLIP FLOP.</a>
	<a href="http://www.twitter.com/mikemertens" target="blank">@mikemertens</a>
	</span>
	<br /><br />
	<span class="stuff small" id="line8"> <strong>MORE!</strong>
	</span>
	<br />
	<span class="stuff small" id="line9">TWEETING ULYSSES <a href="http://www.twitter.com/tweetulysses" target="blank">@tweetulysses.</a>
	<br />UNDEVELOPED AREAS
	</span>  
	