<% provide(:title, 'Hey, Bio') %>

	<span class="stuff" id="line1">HAND-CRAFTED PRODUCT STRATEGY IN NYC.</span> 

	<div class="line"> </div>

	<div class="stuff small" id="line3"><strong>I LIKE TURTLES. I ALSO LIKE SOLVING PROBLEMS AND MAKING THINGS. I'M A <span class="light">NYC-BASED PRODUCT PERSON</span> WITH A FOCUS ON IDEATION, INTERACTION DESIGN, WIREFRAMING, USER RESEARCH, USER TESTING, ROADMAPPING AND GROWTH STRATEGY.</strong><br />
	</div>

	<ul id="worked">
		<li class="stuff small" id="work_side"><strong>I'VE WORKED WITH:</strong><br /></li>
		<li class="stuff small" id="line22">
		<a href="http://www.k2medialabs.com" target="blank">K2 MEDIA LABS</a><br />
		<a href="http://www.wired.com" target="blank">WIRED.COM</a><br />
		<a href="http://www.sonar.me" target="blank">SONAR</a><br />
		<a href="http://www.tracks.io" target="blank">TRACKS</a><br />
		<a href="http://www.style.com" target="blank">STYLE.COM</a><br />
		<a href="http://www.epicurious.com" target="blank">EPICURIOUS.COM</a></li>
	</ul>
		 
	<ul id="projects">
		<li class="stuff small" id="projects_side"><strong>PROJECTS:</strong><br /></li>
		<li class="stuff small" id="line24">TWEETING ULYSSES <a href="http://www.twitter.com/tweetulysses" target="blank">@tweetulysses.</a><br /></li>	
		<li class="stuff small" id="line25">UNDEVELOPED AREAS</li>	
	</ul>
	

	
	
