<% provide(:title, 'Hey, About Mike Mertens') %>

	<span class="stuff" id="line1">HAND-CRAFTED PRODUCT STRATEGY IN NYC.</span> 

	<div class="line"> </div>

	<div class="stuff small" id="line3"><strong>I LIKE SOLVING PROBLEMS AND MAKING THINGS. I'M A <span class="light">NYC-BASED PRODUCT PERSON</span> WITH A FOCUS ON IDEATION, UX, WIREFRAMING, USER RESEARCH & TESTING, ROADMAPPING AND GROWTH STRATEGY.</strong><br />
	</div>

	<ul id="worked">
		<li class="stuff medium" id="work_side"><strong>I'VE WORKED WITH:</strong><br /></li>
		<li class="stuff small" id="line22">
		<a href="http://www.k2medialabs.com" target="blank">K2 MEDIA LABS</a><br />
		<a href="http://www.wired.com" target="blank">WIRED.COM</a><br />
		MARKETSHARING<br />
		<a href="http://www.sonar.me" target="blank">SONAR</a><br />
		<a href="http://www.tracks.io" target="blank">TRACKS</a><br />
		<a href="http://www.style.com" target="blank">STYLE.COM</a><br />
		<a href="http://www.epicurious.com" target="blank">EPICURIOUS.COM</a><br />
		<!--ALIST411--></li>
	</ul>
		 
	<ul id="projects">
		<li class="stuff medium" id="projects_side"><strong>MY PROJECTS:</strong><br /></li>
		<li class="stuff small" id="line24">TWEETING ULYSSES: <a href="http://www.twitter.com/tweetulysses" target="blank">@tweetulysses.</a><br />
		<a href="http://www.undevelopedareas.com" target="blank">UNDEVELOPED AREAS</a><br /><br /></li>	
		<li class="stuff medium" id="line25"><strong>PROFILES:</strong><br /></li>
		<li class="stuff small" id="line26">
		<a href="http://www.linkedin.com/in/mikemertens1/" target="blank">LINKEDIN</a><br />
		<a href="http://www.twitter.com/mikemertens" target="blank">@mikemertens</a>
		</li>	
	</ul>
	

	<br /><br /><br /><br /><br />
	
