<% provide(:title, 'Hey, Bio') %>

	<span class="stuff" id="line1">HAND-CRAFTED PRODUCT STRATEGY IN NYC.</span> 
	<br />
	<span class="stuff" id="line3">FAST FOLLOWS,</span>  
	<span class="stuff" id="line4">PIVOTS,</span>  
	<span class="stuff" id="line5">SKETCHY FUTURES.</span>

	<div class="line"></div>

	<span class="stuff small" id="line6"> <strong>I LIKE TURTLES. I ALSO LIKE SOLVING PROBLEMS AND MAKING THINGS. I'M A NYC BASED PRODUCT PERSON WITH A FOCUS ON IDEATION AND WIREFRAMING, INTERACTION DESIGN, GROWTH STRATEGIES, ROADMAPPING, USER RESEARCH AND TESTING.</strong>
	</span>
	<br /><br /> 

	<ul id="worked">
		<li class="stuff small" id="line13"><strong>I'VE WORKED WITH:</strong><br /></li>
		<li class="stuff small" id="line10"><a href="http://www.k2medialabs.com" target="blank">K2 MEDIA LABS</a><br /></li>
		<li class="stuff small" id="line9"><a href="http://www.wired.com" target="blank">WIRED.COM</a></li>
	</ul>
		 
	<ul id="projects">
		<li class="stuff small" id="line8"><strong>PROJECTS:</strong><br /></li>
		<li class="stuff small" id="line7">TWEETING ULYSSES <a href="http://www.twitter.com/tweetulysses" target="blank">@tweetulysses.</a><br /></li>	
		<li class="stuff small" id="line12">UNDEVELOPED AREAS</li>	
	</ul>
	
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> 
	
