<% provide(:title, 'Home') %>
<div class="center hero-unit">
 
    <h1>
    Hugeblob - the Black Start
	</h1>

	<h2>
    This is the black start for <a href="http://www.hugeblob.com/">Hugeblob</a>.
	</h2>

	<%= link_to "Help the Black Start", '#', class: "btn btn-large btn-primary" %> 
</div>


<!--
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
-->
