<% provide(:title, 'Hey, Bio') %>

	<span class="stuff" id="line1">PRODUCT STRATEGY IN NYC.</span> 
	<!-- <span class="stuff light" id="line2">AFRAID OF ZOMBIES.</span> -->
	<br>
	<span class="stuff" id="line3">FAST FOLLOWS,</span>  
	<span class="stuff" id="line4">PIVOTS,</span>  
	<span class="stuff" id="line5">SKETCHY FUTURES.</span>

	<div class="footer"></div>

	<span class="stuff small" id="line6"> <strong>PLACES I'VE WORKED:</strong>
	</span><br />  
	<span class="stuff small" id="line10"><a href="http://www.k2medialabs.com" target="blank">K2 MEDIA LABS</a>
	<br />
	<span class="stuff small" id="line9"><a href="http://www.wired.com" target="blank">WIRED.COM</a>
	</span>
	<br /><br />
	<span class="stuff small" id="line8"> <strong>PROJECTS:</strong>
	</span>
	<br />
	<span class="stuff small" id="line7">UNDEVELOPED AREAS
	<br />
	</span>  
