// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*	GLOBAL STYLES  */

	* {
		margin: 0px;
		padding: 0px;
	}

	body {
		background: none;
		-webkit-font-smoothing: antialiased;
	}

/*	TOP NAV  */

	nav {
		margin: 30px 0px 30px 0px;
		height: 10px;
		min-width: 840px;
		max-width: 1030px;
	}

	header {
		margin: 0px;
	}

	.links a:link {
		display: inline-block;
		text-decoration: none;
		color: black;
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
	}

	.links a:visited {
		color: black;
	}

	.links a:hover, a:active {
		color: red;
		background: white;
		padding: 0 0px;
		padding-left: 2px;
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
	}


	nav ul {
		font: 14px/18px helvetica, sans-serif;
		width: 260px;
		float: left;
		list-style: none;
	}

	#mikemertens {
		font: 14px/18px helvetica, sans-serif;
		width: 260px;
		float: left;
		list-style: none;
	}

	nav .links:before {
		content: "\271A";
		margin-right: 8px;
		color: pink;
	}

	nav .links:hover:before {
		/* content: "\2716"; */
		content: "\271A";
		margin-right: 8px;
		color: red;
	}

	.home a:link {
		color: black;
		text-decoration: none;
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
	}

	.home a:hover {
		color: red;
		padding-left: 10px;
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
	}

	.home a:visited {
		color: black;
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
	}

/*	MAIN CONTENT  */

	#content {
		margin: 75px 0px 0px 0px;
		float: clear;
	}

	.stuff {
		font: 80px/80px helvetica, sans-serif;
		letter-spacing: -2px;
		font-weight: 600;
		display: inline;
		margin-right: 22px;
		opacity: 0;
	}

	.light {
		color: #FF0066;
	}

	.small {
		font: 30px/25px helvetica, sans-serif;
		letter-spacing: 0px;
		font-weight: 600;
		margin-right: 6px;
	}

	#worked {
		font: 14px/32px helvetica, sans-serif;
		width: 50%;
		float: left;
		list-style: none;
		margin-top: 30px;
	}

	#projects {
		font: 14px/32px helvetica, sans-serif;
		width: 50%;
		float: left;
		list-style: none;
		margin-top: 30px;
	}

	.line {
		width: 100%;
		display: inline;
		border-top: 6px solid black;
		padding: 15px 0 40px;
		display: block;
		margin-top: 40px;
	}

	/*
	span.stuff:before {
		content: "\271A";
		font: 33px/10px  helvetica, sans-serif;
		line-height: 5px;
		vertical-align: middle;
		display: inline-block;
	}
	*/

/*	MAIN CONTENT LINKS  */

	#content a:link {
		padding: 0 .2em;
		margin: 0 -5px;
		color: #FF0066;
		text-decoration: none;
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
	}

	#content a:visited {
		color: #FF0066;
	}


	#content a:hover, a:active {
		padding: 0px .2em;
	    color: yellow;
		border-radius: 4px;
		background: black;
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
	}


/*	----------------------------------------------------------
	- FOOTER 									     		 -
	----------------------------------------------------------  */

	.footer {
		width: 100%;
		display: inline;
		font: 18px/23px  helvetica, sans-serif;
		font-weight: normal;
	    -webkit-font-smoothing: antialiased;
		opacity: 1;
		border-top: 6px solid black;
		padding: 15px 0 40px;
		display: block;
		margin-top: 40px;
		/* HIDE OVERFLOW */
		white-space: nowrap;
		overflow: hidden;
	    -webkit-text-overflow: ellipsis
	}

/*	----------------------------------------------------------
	- RESPONSIVE LAYOUT : 1270PX WIDE				 		 -
	----------------------------------------------------------  */

	@media screen and (min-width: 840px) {

		#nav ul {
			width: 250px;
		}	


		body {
			/*margin: 70px auto 100%;
			width: 1000px; */
			padding-right: 10%;
			padding-left: 10%;
		}

		#content {
			/* min-width: 1100px;
			max-width: 1200px; */
			line-height: 32px;
		}
	}

/*	----------------------------------------------------------
	- RESPONSIVE LAYOUT : 1100PX WIDE				 		 -
	----------------------------------------------------------  */

	@media screen and (max-width: 1360px) {
		
		body {
			padding-right: 6%;
			padding-left: 6%;
		}

		.stuff {
		font: 65px/65px helvetica, sans-serif;
		letter-spacing: -2px;
		font-weight: 600;
		display: inline;
		opacity: 0;
		}

		.small {
		font: 30px/25px helvetica, sans-serif;
		letter-spacing: 0px;
		font-weight: 600;
		display: inline;
		margin-right: 6px;
		opacity: 0;
		}

	}

/*	----------------------------------------------------------
	- RESPONSIVE LAYOUT : 780PX WIDE				 		 -
	----------------------------------------------------------  */


	@media screen and (max-width: 990px) {
		
		body {
			padding-right: 6%;
			padding-left: 6%;
		}
		

		.stuff {
		font: 50px/50px helvetica, sans-serif;
		letter-spacing: -2px;
		font-weight: 600;
		display: inline;
		opacity: 0;
		}

		.small {
		font: 30px/25px helvetica, sans-serif;
		letter-spacing: 0px;
		font-weight: 600;
		display: inline;
		margin-right: 6px;
		opacity: 0;
		}

		#worked {
			float: none;
			width: 100%;
			margin-bottom: 20px;
			margin-top: 20px;
		}

		#projects {
			float: none;
			width: 100%;
			margin-top: 0px;
		}

	}

/*	----------------------------------------------------------
	- RESPONSIVE LAYOUT : 600PX WIDE				 		 -
	----------------------------------------------------------  */

	@media screen and (max-width: 460px) {

		body {
			margin-top: 20px;
		}

		#nav ul {
			padding: 0px 0px;
			float: none;
			/* width: 390px; */
		}

		#nav li {
			text-align: center;
			font-size: 20px;
			line-height: 28px;
			border-radius: 50px;
		}

		nav ul {
		font: 14px/18px helvetica, sans-serif;
		width: 200px;
		float: left;
		list-style: none;
		}

		#mikemertens {
		font: 14px/18px helvetica, sans-serif;
		width: 200px;
		float: left;
		list-style: none;
		}

		#pages {
			margin-top: 0px;
		}

		#elsewhere {
			display: none;
		}

		#social {
			display: none;
		}

		#content {
			margin-top: 46px;
		}

		#worked {
			float: none;
			width: 100%;
			margin-bottom: 20px;
			margin-top: 20px;
		}

		#projects {
			float: none;
			width: 100%;
			margin-top: 0px;
		}

		.stuff {
		font-size: 36px;
		line-height: 39px;
		display: block;
		margin-right: 0;
		}

		.small {
		font: 20px/23px helvetica, sans-serif;
		letter-spacing: 0px;
		font-weight: 400;
		opacity: 0;
		}

		#line3 strong {
		font-weight: 400;
		}

		#line2 {
			display: none;
		}

		.line {
		width: 100%;
		display: inline;
		opacity: 1;
		border-top: 6px solid black;
		padding: 15px 0 15px 0;
		display: block;
		margin-top: 20px;
		}

	}











