
<!-- <div id="footer">
<ul>
	<li class="links"><a href="http://www.mikemertens.net">Michael 'mike' Mertens</a></li>
	<li class="links">New York City</li>
	<li class="links">Contact</li>
</ul>
</div>
-->