	<header class="navbar navbar-fixed-top">
      	
      <div class="navbar-inner">
		<div class="container">
		
		<nav>
		
	
		<ul id="mikemertens">
			<li class="home"> <%= link_to "Mike Mertens", root_path, id: "mikemertens" %>  </li>
			<li>nyc2</li>
		</ul>

		

		<ul id="pages">
			<li class="links"><a href="mailto:mike@undevelopedareas.com">contact</a></li>
			<li class="links"><a href="https://linkedin.com" target="blank">Linkedin &nbsp;</a></li>
		</ul>

		

		<ul id="social">			
			<li class="links"><a href="http://proofandtheory.com/" target="blank"> my Tumblr &nbsp;</a><br /></li>
			<!-- <li class="links"><a href="http://library.keenancummings.com/" target="blank"> my Library &nbsp;</a><br /></li> -->
		</ul>	


	
		<ul id="elsewhere">
			<a href="http://library.keenancummings.com" target="blank"><div id="library" /> </div>
			<li class="links"><a href="http://www.twitter.com/tweetulysses" target="blank">tweetUlysses &nbsp;</a><br /></li>
			<li class="links"><a href="http://www.undevelopedareas.com" target="blank">Undeveloped Areas &nbsp;</a><br /></li>
		</ul>	
	
	
		</nav>

        </div>
      </div>
    </header>