	<header>
      
    <nav>
		
		<ul id="mikemertens">
			<li class="home"> <%= link_to "Michael Mertens", root_path, id: "mikemertens" %>  </li>
			<li> aka "mike"</li>
		</ul>
		 
		<ul id="pages">
			<li class="links"><a href="/xpage" target="blank">Bio &nbsp;</a></li>
			<li class="links"><a href="mailto:mike@undevelopedareas.com">Contact</a></li>	
		</ul>
		<!--
		<ul id="social">			
			<li class="links"><a href="http://proofandtheory.com/" target="blank"> my Tumblr &nbsp;</a><br /></li>
			<li class="links"><a href="http://proofandtheory.com/" target="blank"> my Blog &nbsp;</a><br /></li>
		</ul>	
	
		<ul id="elsewhere">
			<a href="http://proofandtheory.com/" target="blank"><div id="library" /> </div>
			<li class="links"><a href="http://www.twitter.com/tweetulysses" target="blank">tweetUlysses &nbsp;</a><br /></li>
			<li class="links"><a href="http://www.undevelopedareas.com" target="blank">Undeveloped Areas &nbsp;</a><br /></li>
		</ul>	
		-->
	
	 </nav>

    </header>